*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body.light 
{
    background-color: whitesmoke;
    color: black;
}
body.dark 
{
    background-color: black;
    color: whitesmoke;
}
.nav-container 
{
    display: flex;
    gap: 200px;
    justify-content: center;
    padding: 30px;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: gray;
}
.nav-logo 
{
    font-size: 35px;
}
.navbar 
{
     gap: 40px;
     display: flex;
}
.navbar a
{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 13px;
    color: black;
}
.theme img
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

@media (max-width: 768px) {
  .nav-container {
    gap: 30px;
    padding: 15px;
  }

  .nav-logo {
    font-size: 16px;
  }

  .navbar {
    gap: 10px;
  }

  .navbar a {
    font-size: 12px;
    margin-top: 8px;
  }

  .theme img {
    width: 40px;
    height: 40px;
  }
}

.home-container 
{
    
    margin-top: 30px;
    padding: 30px;
}
.home-box
{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.home-content h1
{
    font-size: 60px;
    text-align: center;
}
.home-content p 
{
    font-size: 27px;
    margin-top: 20px;
    text-align: justify;
    line-height: 45px;

}
.home-content button 
{
    width: 300px;
    padding: 15px;
    font-size: 20px;
    font-family: serif;
    border: none;
    background-color: rgb(13, 39, 84);
    color: whitesmoke;
    margin-top: 20px;
    margin-left: 400px;
}
.home-image img 
{
    width: 450px;
    height:450px;
    border-radius: 50%;
    object-fit: cover;
}
.home-course
{
    margin-top: 80px;
    padding: 30px;
}
.home-course h1 
{
    text-align: center;
    font-size: 45px;
}
.home-course-container 
{
    display: flex;
    gap: 50px;
    justify-content: center;

}
.home-course-image
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 600px;
    margin-top: 100px;
}
.home-course-image img 
{
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}
.home-course-content 
{
    margin-top: 100px;

}
.home-course-box 
{
    background-color:rgb(13, 39, 84);
    padding: 25px;
    color: whitesmoke;
    width: 600px;
    margin-top: 35px;
    text-align: center;
}
.home-course-box h4 
{
    font-size: 23px;
}
.home-course-box p 
{
    font-size: 18px;
    margin-top: 15px;
}
.home-choose 
{
    margin-top: 70px;
    padding: 30px;
}
.home-choose h1 
{
    text-align: center;
    font-size: 45px;
}
.home-choose p 
{
    font-size: 23px;
    text-align: center;
    margin-top: 25px;
}
.home-choose-content 
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    gap: 50px;
}
.home-choose-box 
{
    background-color: rgb(13, 39, 84);
    color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home-choose-box img 
{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: antiquewhite;
        padding: 10px;
}
.home-choose-box h4 
{
        font-size: 20px;
        margin-top: 15px;
}
.home-choose-box p 
{
    font-size: 18px;
    line-height: 30px;
}
.home-counter 
{
    margin-top: 70px;
    padding: 30px;
}
.home-counter h1 
{
    text-align: center;
    font-size: 45px;
}
.home-counter p 
{
    text-align: center;
    font-size: 23px;
    margin-top: 20px;
}
.home-counter-row 
{
    display: flex;
    gap: 50px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home-counter-box
{
    background-color: rgb(13, 39, 84);
    color: whitesmoke;
    padding: 20px;
    border-radius:20px;
    width: 400px;

}
.home-counter-box h5
{
        font-size: 30px;
}
.home-reviews 
{
    text-align: center;
    margin-top: 100px;
    padding: 30px;
}
.home-reviews h1 
{
    font-size: 45px;
}
.home-reviews p 
{
    font-size: 23px;
    margin-top: 20px;
}
.home-reviews-content 
{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}
.home-review-box
{
    background-color:rgb(13, 39, 84) ;
    color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    height: 300px;
}
.home-review-box img 
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.home-review-box h4
{
    font-size: 22px;
    margin-top: 20px;
}
.home-review-box p 
{
    font-size: 18px;
}

@media (max-width: 768px) {

  .home-box {
    flex-direction: column;
    gap: 40px;
  }

  .home-content h1 {
    font-size: 32px;
  }

  .home-content p {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .home-content button {
    width: 200px;
    font-size: 16px;
    padding: 10px;
    margin: 20px auto 0;
    display: block;
  }

  .home-image img {
    width: 300px;
    height: 300px;
  }

  .home-course-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .home-course-image {
    grid-template-columns: 1fr;
    width: 100%;
    margin-top: 40px;
  }

  .home-course-box {
    width: 100%;
    padding: 20px;
  }

  .home-choose-content {
    grid-template-columns: 1fr;
  }

  .home-choose-box {
    padding: 15px;
  }

  .home-counter-row {
    flex-direction: column;
    gap: 30px;
  }

  .home-counter-box {
    width: 90%;
  }

  .home-review-box {
    height: auto;
    padding: 15px;
  }

  .home-review-box img {
    width: 80px;
    height: 80px;
  }

  .home-review-box h4 {
    font-size: 18px;
  }

  .home-review-box p {
    font-size: 16px;
    line-height: 25px;
  }
}


.about-container 
{
    margin-top: 70px;
    padding: 30px;
}
.about-story 
{
    text-align: center;
}
.about-story h1 
{
    font-size: 45px;
}
.about-story p
{
    font-size: 23px;
    margin-top: 20px;
}
.about-story-content 
{
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 50px;
}
.about-box 
{
    font-size: 22px;
    line-height: 40px;
    text-align: justify;
}
.about-image img 
{
    width: 550px;
    height: 550px;
    padding: 10px;
    object-fit: cover;
}
.about-edu 
{
    margin-top: 100px;
    padding: 20px;
}
.about-edu-box 
{
    background-color: rgb(13, 39, 84);
    color: white;
    padding: 20px;
    width: 700px;
    margin-top: 30px;
    border-radius: 10px;
}
.about-edu-box-row 
{
    margin-left: 700px;
    background-color: rgb(13, 39, 84);
    color: white;
    padding: 20px;
    margin-top: 30px;
    width: 700px;
    border-radius: 10px;
}
.about-edu-box h4 
{
    font-size: 23px;
    text-align: center;
    margin-top: 30px;
}
.about-edu-box-row h4
{
    font-size: 23px;
    text-align: center;
    margin-top: 30px;
}
.about-edu-box p 
{
    font-size: 18px;
    line-height: 33px;
    margin-top: 20px;
    text-align: center;
}
.about-edu-box-row p 
{
    font-size: 18px;
    line-height: 33px;
    margin-top: 20px;
    text-align: center;
}
.about-edu-content img 
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 300px;
    background-color: aliceblue;
    padding: 10px;
}
.about-edu-content h1 
{
    text-align: center;
    font-size: 45px;
}

.about-team 
{
    margin-top: 70px;
    padding: 30px;
}
.about-team h1 
{
    text-align: center;
    font-size: 40px;
}
.about-team-content 
{
    display: flex;
    gap: 80px;
    margin-top: 50px;
}
.about-team-box img
{
    width: 400px;
    height: 490px;
    object-fit: cover;
    border-radius: 10px;
}
.about-team-box 
{
    text-align: center;
}
.about-team-box h4 
{
    font-size: 23px;
    margin-top: 15px;
}
.about-team-box p 
{
    font-size: 18px;
    line-height: 28px;
    margin-top: 18px;
    width: 400px;
}
.about-vision 
{
    margin-top: 70px;
    padding: 20px;
    text-align: center;
    
}
.about-vision h4 
{
    font-size: 40px;
}
.about-vision p 
{
    font-size: 20px;
    margin-top: 20px;
}
.about-vision-box 
{
    line-height: 35px;
    width: 1000px;
    margin-left: 200px;
    font-style: italic;
    background-color: rgb(13, 39, 84);
    color: whitesmoke;
    padding: 25px;
    margin-top: 20px;
    border-radius: 30px 0px 30px 0px;
}
.about-metrics
{
    margin-top: 70px;
    padding: 30px;
}
.about-metrics h1 
{
    text-align: center;
    font-size: 45px;
}
.about-metrics p 
{
    text-align: center;
    font-size: 23px;
    margin-top: 20px;
}
.about-metrics-content
{
    display: flex;
    gap: 50px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-metrics-box
{
    background-color: rgb(13, 39, 84);
    color: whitesmoke;
    padding: 20px;
    border-radius:20px;
    width: 400px;

}
.about-metrics-box h5
{
        font-size: 20px;
}
.about-metrics-box p 
{
    font-size: 18px;
}


@media (max-width: 768px) {

  .about-container {
    margin-top: 50px;
    padding: 20px;
  }

  .about-story h1 {
    font-size: 30px;
  }

  .about-story p {
    font-size: 16px;
    margin-top: 15px;
  }

  .about-story-content {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .about-box {
    font-size: 16px;
    line-height: 28px;
    width: 95%;
  }

  .about-image img {
    width: 90%;
    height: 300px;
    object-fit: cover;
  }

  
  .about-edu {
    margin-top: 60px;
    padding: 15px;
  }

  .about-edu-content h1 {
    text-align: center;
    font-size: 30px;
  }

  .about-edu-content img {
    width: 60px;
    height: 60px;
    margin: 10px auto;
    display: block;
  }

  .about-edu-box,
  .about-edu-box-row {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
  }

  .about-edu-box h4,
  .about-edu-box-row h4 {
    font-size: 18px;
  }

  .about-edu-box p,
  .about-edu-box-row p {
    font-size: 15px;
    line-height: 26px;
  }

  
  .about-team {
    margin-top: 60px;
    padding: 20px;
  }

  .about-team h1 {
    text-align: center;
    font-size: 30px;
  }

  .about-team-content {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .about-team-box img {
    width: 90%;
    height: 350px;
    border-radius: 10px;
  }

  .about-team-box h4 {
    font-size: 18px;
  }

  .about-team-box p {
    font-size: 15px;
    width: 90%;
    margin: 10px auto;
    line-height: 25px;
  }

  
  .about-vision {
    margin-top: 60px;
    padding: 20px;
    text-align: center;
  }

  .about-vision h4 {
    font-size: 28px;
  }

  .about-vision p {
    font-size: 16px;
    margin-top: 15px;
  }

  .about-vision-box {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    font-size: 15px;
    line-height: 28px;
  }

  
  .about-metrics {
    margin-top: 60px;
    padding: 20px;
  }

  .about-metrics h1 {
    text-align: center;
    font-size: 30px;
  }

  .about-metrics p {
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
  }

  .about-metrics-content {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .about-metrics-box {
    width: 90%;
    padding: 15px;
  }

  .about-metrics-box h5 {
    font-size: 16px;
  }

  .about-metrics-box p {
    font-size: 15px;
  }
}

.service-container 
{
    margin-top: 70px;
    padding: 30px;
}
.service-content 
{
    text-align: center;
}
.service-content h1 
{
    font-size: 45px;
}
.service-content p 
{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    line-height: 35px;
}
.service-box-content 
{
    background-color: rgb(13, 39, 84);
    color: white;
    padding: 20px;
    width: 700px;
    margin-top: 30px;
    border-radius: 10px;
}
.service-box-row 
{
    margin-left: 700px;
    background-color: rgb(13, 39, 84);
    color: white;
    padding: 20px;
    margin-top: 30px;
    width: 700px;
    border-radius: 10px;
}
.service-box-content h4 
{
    font-size: 23px;
    text-align: center;
    margin-top: 30px;
}
.service-box-row h4
{
    font-size: 23px;
    text-align: center;
    margin-top: 30px;
}
.service-box-content p 
{
    font-size: 18px;
    line-height: 33px;
    margin-top: 20px;
    text-align: center;
}
.service-box-row p 
{
    font-size: 18px;
    line-height: 33px;
    margin-top: 20px;
    text-align: center;
}
.service-box-content img
{
    width: 400px;
    height: 450px;
    object-fit: cover;
    margin-left: 150px;
}
.service-box-row img
{
    width: 400px;
    height: 450px;
    object-fit: cover;
    margin-left: 150px;
}
.service-faq {
  max-width: 1000px;
  margin: 60px auto;
  padding: 40px;
  border-radius: 12px;
  background-color: rgb(13, 39, 84);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin-top: 100px;

}

.service-faq h1 {
  text-align: center;
  color: #1e88e5;
  font-size: 2rem;
  margin-bottom: 30px;
}

.service-faq-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.faq-item {
  background: #fff;
  color: black;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.faq-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 18px 20px;
}

.faq-question h4 {
  margin: 0;
  font-size: 1.1rem;
}

.faq-question span {
  font-size: 1.5rem;
  color: #1e88e5;
  transition: transform 0.3s ease;
}

.faq-answer {
  padding: 0 20px 18px;
  font-size: 18px;
  line-height: 1.6;
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {

  .service-container {
    margin-top: 50px;
    padding: 20px;
  }

  .service-content h1 {
    font-size: 30px;
  }

  .service-content p {
    font-size: 16px;
    line-height: 28px;
    margin-top: 15px;
  }

  .service-box-content,
  .service-box-row {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
  }

  .service-box-content h4,
  .service-box-row h4 {
    font-size: 18px;
    margin-top: 15px;
  }

  .service-box-content p,
  .service-box-row p {
    font-size: 15px;
    line-height: 26px;
    margin-top: 10px;
  }

  .service-box-content img,
  .service-box-row img {
    width: 90%;
    height: 400px;
    margin: 10px auto;
    display: block;
    object-fit: cover;
  }

  
  .service-faq {
    width: 90%;
    margin: 50px auto;
    padding: 20px;
  }

  .service-faq h1 {
    font-size: 28px;
    text-align: center;
    color: #1e88e5;
  }

  .service-faq-box {
    gap: 10px;
  }
}


.courses-container {
  padding: 50px;
  text-align: center;
  margin-top: 10px;
}

.course-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.tab-btn {
  padding: 10px 20px;
  border: none;
  background: #eee;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s;
}

.tab-btn.active {
  background: black;
  color: white;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.course-card {
  background-color: rgb(13, 39, 84);
  color: whitesmoke;
  border-radius: 10px;
  padding: 15px;
  transition: 0.3s;
}

.course-card img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
}
.course-card h4 
{
    font-size: 18px;
    line-height: 30px;
}


.contact-section {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
}

.contact-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
}

.contact-desc {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}

.contact-box {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(13, 39, 84);
  color: whitesmoke;
  border-radius: 12px;
  padding: 30px;
  gap: 30px;
}

.contact-info {
  flex: 1;
  min-width: 280px;
}

.contact-info h3 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
}

.contact-info p {
  margin-top: 50px;
  font-size: 18px;
  line-height: 40px;
}

.contact-form {
  flex: 1;
  min-width: 280px;
  background: rgba(255, 255, 255, 0.1);
  padding: 25px;
  border-radius: 10px;
}

.contact-form h3 {
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #fff;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

.send-btn {
  display: block;
  width: 100%;
  background: #fff;
  color: rgb(13, 39, 84);
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.send-btn:hover {
  background: #f0f0f0;
}

.success-msg {
  margin-top: 10px;
  color: #00ff99;
  text-align: center;
  font-weight: 600;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-box {
    flex-direction: column;
  }
}

.footer {
  background: rgb(13, 39, 84);
  color: #fff;
  padding: 60px 40px 20px;
  
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-section {
  flex: 1;
  min-width: 220px;
}

.footer-section h2, .footer-section h3 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.footer-section p {
  font-size: 0.95rem;
  color: #dcdcdc;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 8px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #fff;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #fff;
  font-size: 1.2rem;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #ffb703;
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 20px;
  font-size: 0.9rem;
  color: #ccc;
}


@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  .social-icons {
    justify-content: center;
  }
}
